:root{

    /* Demensions */
    --width-full: 100%;
    --width-12col: 1200px;

    /* grid setting */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* color swatches */
    --color-3: #f1acf2;
    --color-2: #914bbf;
    --primary-color: #3e285b;
    --color-4: #73332d;
    --color-5: #d97059;
    
}

*{ /* Reset CSS */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation{
    background-color: var(--primary-color);
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
}

.fixed{
    position: fixed;
    top: 0px;
    z-index: 1000;
}

.navigation-bar{
    width: var(--width-12col);
}