:root{

    /* Demensions */
    --width-full: 100%;
    --width-12col: 1200px;

    /* grid setting */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* color swatches */
    --bg-color: #546b3f;
    --color-2: #00571a;
    --primary-color: #539f57;
    --color-4: #9fa66a;
    --color-5: #e6a285;
    --text-color: #d9d6d2;
    
}

*{ /* Reset CSS */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

body{
    background-color: var(--bg-color);
}