@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

:root{

    /* Demensions */
    --width-full: 100%;
    --width-12col: 1200px;

    /* grid setting */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* color swatches */
    --bg-color: #546b3f;
    --color-2: #00571a;
    --primary-color: #539f57;
    --color-4: #9fa66a;
    --color-5: #e6a285;
    --text-color: #d9d6d2;
    
}

*{ /* Reset CSS */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-color);
    font-family: 'Alan Sans', sans-serif;
}

.container{
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

/* hero section start */
.hero{
    background-image: url(../image/Hero-bg-img.png);
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    width: var(--width-full);
    height: auto;
    margin: 0;
    color: var(--text-color);
}

.hero-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px auto auto 65px;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.hero-text{
    grid-column: 5 / span 8;
    grid-row: 2;
    font-size: 32px;
    font-weight: 400;
}

.info-box{
    background-color: var(--text-color);
    grid-column: 1 / span 12;
    grid-row: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-box h4{
    color: var(--color-2);
    margin: 0 0 10px 0;
}

.info-box p{
    color: var(--color-2);
    margin-bottom: 5px;
}
/* hero section end */

/* story section start */
.the-story{
width: var(--width-full);
}

.the-story-content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
    margin: 0 auto;
}

.the-story-text{
    grid-column: 1 / span 5;
    grid-row: 2;
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.6;
    padding: var(--padding-default) 0;
}

.the-story-image{
    grid-column: 7 / span 6;
    grid-row: 2;
    min-height: 400px;
}

.the-story-image img{
    width: 100%;
    height: auto;
    display: block;
    background-size: cover;
}
/* story section end */

/* video section start */
.video-section{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
    margin: 0 auto;
}

.video-container{
    grid-column: 1 / span 11;
    grid-row: 2;
    min-height: 400px;
}
/* video section end */

/* cast section start */
.cast-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px auto 50px auto 50px auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
    margin: 0 auto;
}

.cast-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cast-credit{
    grid-column: 5 / span 4;
    grid-row: 2;
}

.cast-costume{
    grid-column: 1 / span 2;
    grid-row: 4;
}

.cast-light{
    grid-column: 1 / span 2;
    grid-row: 6;
}

.cast-manuscript{
    grid-column: 6 / span 2;
    grid-row: 4;
}

.cast-sound{
    grid-column: 6 / span 2;
    grid-row: 6;
}

.cast-actor{
    grid-column: 11 / span 2;
    grid-row: 4 / span 3;
}

.cast-light h2{
    padding: 0 30px;
}

/* cast section end */

/* content section start */
.content-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

/* Flickity carousel */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  background-color: #eeeeee;
  width: var(--width-12col);
  grid-column: 1 / span 11;
  grid-row: 2;
}

.gallery-cell {
  /* width: 66%;
  height:200px; */
/*   margin: 0 10px 0 0; */
  counter-increment: gallery-cell;
}

.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color:#fff;
  /* content: counter(gallery-cell) */ 
}