@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sedgwick+Ave+Display&display=swap');

:root{

    /* Demensions */
    --width-full: 100%;
    --width-12col: 1200px;

    /* grid setting */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* color swatches */
    --bg-color: #546b3f;
    --color-2: #00571a;
    --primary-color: #539f57;
    --color-4: #9fa66a;
    --color-5: #e6a285;
    --text-color: #d9d6d2;
    
}

*{ /* Reset CSS */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

body{
    background-color: var(--bg-color);
    font-family: eras, sans-serif;
}

.hero{
    background-image: url(../image/Hero-bg-img.png);
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    width: var(--width-full);
    height: auto;
    margin: 0;
    color: var(--text-color);
}

.hero-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px auto auto 65px;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.hero-text{
    grid-column: 5 / span 10;
    grid-row: 2;
    font-size: 32px;
    font-weight: 400;
}

.info-box{
    background-color: var(--text-color);
    grid-column: 1 / span 12;
    grid-row: 3;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-box h4{
    color: var(--color-2);
}

.info-box p{
    color: var(--color-2);
}